@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --branco-gelo: #f9f9f9;
    --cinza-claro: #efefef;
    --cinza-medio: #c0c0c0;
    --cinza-escuro: #595555;
    --preto: #262626;
    --orange: #f29c46;
    --laranja: #C14D19;
    --verde-claro: #72bc54;
    --verde-escuro: #6c7249;
}

body {
    font-family: "Montserrat";
    color: var(--preto);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

input, select, input:focus, input:active, .btn {
    padding: 14px 24px;
    border: 1px solid;
    line-height: 20px;
    font-size: 17px;
    border-radius: 12px;
    background: transparent;
    font-family: "Montserrat";
    outline: none;
}

.input-search, .input-search:focus, .input-search:active {
    width: 100%;
    border-color: var(--cinza-claro);
    color: var(--cinza-escuro);
    padding-left: 100px;
    background: var(--cinza-claro) url("../img/search.svg") no-repeat left;
    background-position-x: 17.5px;
}

.input-form, .input-form:focus, .input-form:active {
    border-color: var(--laranja);
    color: var(--cinza-escuro);
    margin-bottom: 24px;
    width: 100%;
}

.group-form-input {
    position: relative;
}

.group-form-input label {
    padding: 0 4px;
    position: absolute;
    font-size: 14px;
    transition: all 0.3s;
    top: 16px;
    left: 24px;
    background: #fff;
    pointer-events: none;
}

.group-form-input input:focus + label, label.hasValue,
.group-form-input select:focus + label {
    font-size: 12px;
    color: var(--laranja);
    top: -8px;
}

.group-form-radio > div {
    font-size: 20px;
    margin: 24px 0;
}

.group-form-radio label {
    position: relative;
    display: block;
    padding: 3px 0px 8px 44px;
    margin-bottom: 24px;
}

.group-form-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.group-form-radio .check {
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--orange);
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #fff;
}

.group-form-radio .check:after {
    position: absolute;
    content: '';
    height: 19px;
    width: 19px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
}

.group-form-radio input:checked ~ .check:after {
    background: var(--orange);
}

.btn:hover {
    box-shadow: 0px 3px 6px rgba(0,0,0,.26);
}

.btn-outline-black {
    border-color: var(--cinza-escuro);
}

.btn-laranja {
    background: var(--laranja);
    color: #fff;
}

.btn-outline-laranja {
    background: #fff;
    border-color: var(--laranja);
    color: var(--laranja);
}

.btn.selected {
    border-color: var(--verde-claro);
    color: var(--verde-claro);
    box-shadow: 0px 3px 6px rgba(0,0,0,.26);
}

.btn.btn-large {
    padding: 14px 50px;
}

.btn.btn-small {
    min-width: 200px;
    padding: 8px 50px;
}

button.btn:disabled {
    background-color: #707070;
    font-size: 17px;
    color: #8C8C8C;
}

.text-laranja {
    color: var(--laranja);
}

.text-center {
    text-align: center;
}

.float-right {
    float: right;
}

.w-100 {
    width: 100%;
}
